
* {
  font-size: 16px;
  font-family: sans-serif;
}


.App {
  width: 400px;
}

.checkboxContainer {
  padding-right: 8px;
}

.inputbox {
  padding: 10px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  border-radius: 3px;
}

.singleInput {
  display: inline-block;
  border: none;
  outline: none;
}

.dropdown {
  border: 1px solid #ccc;
  border-top: 0;
  background: #fcfcfc;
}

input[type="checkbox"] {
}

.pill, .pill-many {
  display: inline-block;
  padding: 3px 6px;
  border: 1px solid #ccc;
  margin-right: 6px;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 #eee;
}

.inputbox-activities {
  flex: 1;
}

.applyButton {
  /*border: 1px solid #ccc;*/
  /*background: #333;*/
  color: #0033ff;
  border-radius: 3px;
  padding: 3px 6px;
  cursor: pointer;
}
.closeButton {
  width: 15px;
  top: 2px;
  left: 2px;
  position: relative;
}
.list-header {
  display: flex;
  height: 32px;
  align-items: center;
  padding: 5px 10px;
  font-weight: 600;
}

.list-item {
  display: flex;
  height: 32px;
  align-items: center;
  padding: 4px 4px 4px 10px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
