.App {
  width: 400px;
}

.inputbox {
  padding: 10px;
  border: 1px solid #ccc;
}

.dropdown {
  border: 1px solid #ccc;
}

input[type="checkbox"] {
  background: pink;
  width: 32px;
  height: 32px;
}

.list-item {
  display: flex;
  height: 32px;
  align-items: center;
  padding: 5px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
